API_PORT=
ENVIRONMENT=

# Use the DB EC2 *private IP* or private DNS
DATABASE_URL=

#Redis
REDIS_URL=

# CORS: allow frontend subdomain (keep http for now if you want)
CORS_ORIGINS=

# If you're doing JWTs/etc
JWT_SECRET=
