API_PORT=
ENVIRONMENT=

# Use the DB EC2 *private IP* or private DNS
DATABASE_URL=

#Redis
REDIS_URL=

# CORS: allow frontend subdomain (keep http for now if you want)
# Example: http://192.168.105.40,http://localhost:5173,http://127.0.0.1:5173
CORS_ORIGINS=

# If you're doing JWTs/etc
JWT_SECRET=
